html, body {
    background-color: #3b4f65;
    /* background-color: #653b63; */
}   

main {
    margin: auto;
    width: 85%;
    margin-top: 8%;
    margin-bottom: 4%;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    min-height: 460px;
}

#forms-panel {
    text-align: center;
	display: flex;
	align-items: flex-start;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

.form-wrapper.active .switcher-login {
	color: #fff;
	transform: translateX(90px);
}

.form-wrapper.active .switcher-signup {
	color: #fff;
	transform: translateX(-90px);
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.active .form-login {
	animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px) scaleY(1.2);
	}
	50% {
		transform: translate(0, 0) scaleY(1.1);
	}
	100% {
		background-color: #fff;
		transform: translate(35%, -20px) scaleY(1);
	}
}

@keyframes hideLogin {
	0% {
		background-color: #fff;
		transform: translate(35%, -20px) scale(1);
	}
	50% {
		transform: translate(0, 0) scale(1.1);
	}
	100% {
		background: #d7e7f1;
		transform: translate(40%, 10px) scaleY(1.2);
	}
}

.form-recovery {
	animation: hideRecovery .3s ease-out forwards;
}

.form-wrapper.active .form-recovery {
	animation: showRecovery .3s ease-in forwards;
}

@keyframes showRecovery {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px) scaleY(1.8);
	}
	50% {
		transform: translate(0, 0) scaleY(1.4);
	}
	100% {
		background-color: #fff;
		transform: translate(35%, -20px) scaleY(1);
	}
}

@keyframes hideRecovery {
	0% {
		background-color: #fff;
		transform: translate(35%, -20px) scale(1);
	}
	50% {
		transform: translate(0, 0) scale(1.4);
	}
	100% {
		background: #d7e7f1;
		transform: translate(40%, 10px) scaleY(1.8);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
	0% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.form fieldset {
    border: none;
    position: relative;
	margin: 0;
	padding: 0;
	transition: all .3s ease-out;
}

.form-wrapper.active fieldset {
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.form {
    display: block;
    width: 40%;
    margin: auto;
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: white;
    border: solid 1px #cddbef;
    border-radius: 10px;
	overflow: hidden;
	min-width: 260px;
	transform-origin: top;
}

.form-recovery {
    display: none;
}

.form-recovery.active {

}

.switcher {
	position: relative;
	display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 15%;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 14px;
	letter-spacing: .5px;
	color: #999;
	background-color: transparent;
	border: none;
	outline: none;
    transition: all .3s ease-out;
}

.form-wrapper.active .switcher {
    font-weight: bolder;
    padding: 0;
    padding-bottom: 2px;
    color: white;
    border-bottom: 2px solid;
}

.input-block {
    padding: 0;
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: left;
}

.input-block input {
    display: block;
	width: 90%;
    margin: auto;
    margin-top: 1%;
	padding-right: 5%;
	padding-left: 5%;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
    background-color: #eef9fe;
    border: 1px solid #cddbef;
    border-radius: 11px;
}

.invisible {
    opacity: 0;
}

.small-btn {
    width: 52%;
    min-width: 120px;
    margin: auto;
    margin-top: 4%;
    font-size: 14px;
    color: #92a5a5;
}

.small-btn:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    opacity: 0.7;
    
}

.big-btn {
    display: block;
    min-width: 120px;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 1%;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    border: none;
}

.full-btn {
    color: white;
    background-color: #a7e245;
}

.full-btn:hover {
    transition-duration: .2s;
    background-color: #b5e46b;
}


.void-btn {
    color: #a7e245;
    border: 2px solid #a7e245;
    background-color: transparent;
}

.void-btn:hover {
    transition-duration: .3s;
    background-color: #a7e245;
    color: white;
}

.void-btn:active {
    transition-duration: 0;
    background-color: #45c3e2;
    border: 2px solid #45c3e2;
}

.input-block label {
    font-size: 14px;
    color: #92a5a5;
}


.form-wrapper.active .invisible {
    opacity: 1;
}