.active-button {
    border: none;
    font-weight: bolder;
    padding: 0;
    padding-bottom: 2px;
}

.inactive-button{
    border: none;
}

fieldset {
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    border: solid 1px #cddbef;
    border-radius: 10px;
}

.group:before, 
.group:after {
    content: "";
    display: table;
} 

.group:after {
    clear: both;
}

#product-photos{
    width: 50%;
    display: inline-block;
}

.container {
    position: relative;
}

#thumbnail-photos{
    width: 15%;
    float: left;
    /* display: inline-block; */
}

.cursor {
    cursor: pointer;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

#large-photos{
    width: 83%;
    padding-left: 2%;
    display: inline-block;
}

#display-none {
    display: none;
}

#product-infos{
    width: 40%;
    float: right;
    /* display: inline-block; */
}

.title{
    font-weight: 700;
    font-size: 20pt;
}

.green-elements{
    color: #a7e245;
}

hr.product-divisor {
    border-top: 0.8px solid;
    color: rgba(65, 65, 65, 0.315);
}

input[type="number"] {
   width:80px;
}

#buy-botton {
    display: block;
    min-width: 120px;
    margin: auto;

    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    border: none;
    transition: all .3s ease-out;
    color: white;
    background: #a7e245;
}

#buy-botton:hover {
    transition-duration: 0.3s;
    opacity: 0.8;
}