.container{
    margin-top: 80pt;
}

section{
    margin-bottom: 20pt;
}

.no-space{
    margin: 0;
    padding: 0;
}

.no-space p{
    margin: 0;
    padding: 0;
}

#loginInfo{
    flex-direction: column;
}

#altSenha{
    right: 0;
    margin-left: auto;
}

