ul {
    padding-left: 3.5%;
    margin-top: 0.5%;
}

li {
    margin-top: 1%;
    margin-bottom: 1%;
}

.product-photos {
    width: 50%;
    float: left;
}

.thumbnail-panel {
    width: 15%;
    max-height: 590px;
    overflow-y: auto;
    float: left;
    margin-right: 1%;

    display: flex;
    flex-direction: column;
    flex-direction: column;
    flex-wrap: nowrap;
}

.product-photo-thumb {
    opacity: 0.6;
    width: 100%;
    margin-bottom: 5%;
}

.product-photo-thumb:hover {
    transition: 0.15s;
    opacity: 1;
    cursor: pointer;
}

.active{
    opacity: 1;
}

.active:hover {
    cursor: initial;
}

.large-photo {
    width: 83%;
    display: inline-block;
}

.product-info{
    width: 40%;
    float: right;
}

.product-info .title {
    font-weight: 700;
    font-size: 20pt;
    margin-bottom: -1%;
}

#quantity {
   width: 12%;
   text-align: center;
}

.product-description {
    clear: both;
}

.product-description * {
    width: 95%;
}

.product-description hr.product-divisor {
    opacity: 0.75;
    margin: 39% auto 2% auto;
}

.product-description .title {
    font-size: x-large;
    font-weight: 550;
    padding: 0;
    margin: 0;
}

.product-description p {
    margin-top: 0.5%;
}

.product-description ul {
    padding-left: 1.5%;
    margin-top: 0.5%;
}

hr.product-divisor {
    border-top: 0.8px solid;
    color: rgba(65, 65, 65, 0.315);
    margin: 3.5% auto 3.5% 0;
}

#sizes-modal.modal .content-box {
    width: 40%;
    padding-top: 0.3%;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

#sizes-modal.modal .content-box img {
    margin-top: 0.5%;
}