* {
    font-family: Ubuntu, Roboto;
}

html, body {
    font-family: Ubuntu, Roboto;
    padding: 0;
    margin: 0;
    background-color: #f1eff1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100%;
}

/* NAVBAR */

#navbar {
    background-color: #202020;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-flow: now;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1% 0% 1% 0%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
}

#navbar a {
    color: inherit;
    text-decoration: inherit;
}

#navbar button {
    background-color: transparent;
    border: none;
    color: inherit;
}

#logo {
    float: left;
    width: 12%;
    margin-left: 2%;
}

#logo img {
    width: 100%;
    padding: 0;
}

#central-buttons {
    width: 20%;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: space-evenly;
    list-style-type: none;
    color: #f1eff1;
    padding: 0;
}

#navbar .dropdown {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

#navbar .dropdown ul {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: nowrap;
    margin-top: .5%;
    padding: 0.7% 0.7% 0.3% 0.7%;
    background-color: #202020;
    border-top: 2px solid lightgrey;
    position: absolute;
    opacity: 0.95;
    max-width: 100px;
}

#navbar .dropdown li {
    margin: auto auto 20% auto;
}

#navbar .dropdown .divisor {
    padding: 2%;
    position: absolute;
}

#right-buttons {
    float: right;
    padding: 0;
    margin-right: 1%;
    width: 10%;
} 


/* TABS */

.tabs-history {
    margin-bottom: 0.5%;
    margin-left: 0.3%;
    font-size: 15px;
    padding: 0;
    color: black;
}

.tabs-history a {
    text-decoration: none;
    color: inherit;
}

.past-tab {
    font-weight: bolder;
    cursor: pointer;
}

.past-tab::after {
    content: " > ";
    cursor: initial;
    font-weight: initial;
}

.current-tab:hover {
    cursor: initial;
}


/* MAIN */

main {
    margin: auto;
    width: 85%;
    height: 100%;
    margin-top: 6%;
    margin-bottom: 4%;
    /* min-height: 520px; */
}

.content-box {
    margin: auto;
    width: auto;
    height: auto;
    padding: 3% 4% 3% 4%;
    background-color: white;
    border: solid 1px #cddbef;
    border-radius: 0.7rem;
}


/* POPUPS */

.modal {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    display: none;
    overflow-y: auto;
}

.modal .content-box {
    width: 55%;
    height: auto;
    padding: 0.5% 1% 1% 1%;
    margin-top: 2%;
    margin-bottom: 3.5%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


/* BUTTONS */

.text-btn {
    width: 52%;
    margin: auto;
    margin-top: 4%;
    font-size: 14px;
    color: #a7e245;
    border-radius: 25px;
}

.big-btn {
    display: block;
    min-width: 120px;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 1%;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    border: none;
}

.text-btn:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    opacity: 0.7;
    text-decoration: underline;
}

.big-btn:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    opacity: 0.7;
}

.full-btn {
    color: white;
    background-color: #a7e245;
}

.full-btn:hover {
    background-color: #b5e46b;
}


.void-btn {
    color: #a7e245;
    border: 2px solid #a7e245;
    background-color: transparent;
}

.void-btn:hover {
    background-color: #a7e245;
    color: white;
}

.void-btn:active {
    transition-duration: 0;
    background-color: #45c3e2;
    border: 2px solid #45c3e2;
}


/* FOOTER */

footer {
    background-color: #202020;
    color: #f1eff1;
    text-align: center;
    padding-bottom: 1.4%;
    padding-top: 1%
}

footer a {
    color: inherit;
    text-decoration: inherit;
}

#footer-info {
    display: flex;
    justify-items: center;
    align-content: center;
    align-self: center;
    align-items: center;
    padding: 0;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding: 0;
    align-self: center;
    align-content: center;
    margin: auto;
}

footer li {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}

#help {
    vertical-align: middle;
    width: 70%;
    margin: auto;
    float: left;
}

#help li {
    margin-right: 10%;
    margin-left: 10%;
}

#help p {
    font-size: medium;
}

#divisor {
    color: #f1eff1;
    font-size: xx-large;
    font-weight: lighter;
    margin-right: auto;
}

#social-media {
    color: #af7430;
    vertical-align: middle;
    width: 30%;
    float: right;
}

#social-media li {
    font-size: small;
    margin-right: 3%;
    margin-left: 3%;
}

hr.end {
    border-top: 0.8px solid;
    color: rgba(65, 65, 65, 0.315);
    margin-right: 3%;
    margin-left: 3%;

}

#credits {
    margin-top: 2%;
    font-size: small;
}


/* ACCOUNT PAGES */

.container{
    margin-top: 80pt;
}

section{
    margin-bottom: 20pt;
}

.no-space{
    margin: 0;
    padding: 0;
}

.no-space p{
    margin: 0;
    padding: 0;
}

#loginInfo{
    flex-direction: column;
}

#loginInfoMobile{
    flex-direction: column;
}

#altSenha{
    right: 0;
    margin-left: auto;
}

#produtosCadastrados{
    flex-direction: column;
}

#dadosPessoais{
    flex-direction: column;
}

#editarDados{
    right: 0;
    margin-left: auto;
}


/* AUXILIAR */

.disable-selection {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.no-display {
    display: none;
}

.invisible {
    opacity: 0;
	visibility: hidden;
}

.invisible-content * {
    opacity: 0;
    visibility: hidden;
}

.green {
    color: #a7e245;
}

.underlined {
    text-decoration: underline;
}

.clicker:hover {
    transition-duration: 0.15s;
    cursor: pointer;
    opacity: 0.95;
}

.title {
    font-size: x-large;
    font-weight: 550;
    margin: 0;
    padding: 1% 0 1% 0;
}