.product-thumb {
	max-width:100% ;
	display: block;
    align-items: center;
    
}

.pruducts-panel {
    display: flex; /*lado a lado*/
    padding: 1.5% 0 2% 0;
    
}

#panel-title{
    margin: auto; /*alinhando ao centro*/
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 20pt;
}

.product-cards-panel {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    width: fit-content;
    max-width: max-content;
    min-width: min-content;
    margin: auto;
    padding: 0;
}

.product-card {
    display: block;
    /* flex-grow: 1; */
    background-color: #fdf9f9;
    text-align: center;
    margin: 1% auto 1% auto;
    padding: 0;
    width: 10%;
    min-width: 300px;
    border: 1px solid #cddbef;
    border-radius: 1%;
}

.product-card a {
    color: inherit;
    text-decoration: none;
}

.product-card:hover {
    transition: 0.25s;
    cursor: pointer;
    opacity: 0.95;
}

.product-price {
    font-weight: bolder;
}


/* FILTROS */

.filters {
    margin-left: 2%;
    margin-right: 3%;
    width: fit-content;
}

.filters-title {
    color: black;
    font-size: 20px;
}

.checkboxes {
    background-color: #fdf9f9;
    border: 1px solid #cddbef; 
    width: auto;
    padding: 7% 12% 7% 4%;
    margin: auto;
    margin-top: 2.5%;
}

.checkboxes ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.checkboxes li {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: nowrap;
    margin: 4% 0 4% 0;
    padding: 0;
}