.dark-theme .modal-color {
    background-color: #202020;
}

.dark-theme .badge-light {
    background-color: rgba(255, 255, 255, 0.2)
}

.dark-theme .card {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.info-data {
    margin: auto;
    display: flex;
    flex-flow: row nowrap !important;
    justify-content: space-around !important;
    align-items: flex-start !important;
    overflow: hidden;
}

.info-data .client {
    width: 40%;
    text-align: left;
    vertical-align: top;
    margin-top: 0;
    padding: 0;
}

.info-data .order-admin {
    width: 40%;
    text-align: right;
    vertical-align: top;
    margin-top: 0;
    padding: 0;
}

.info-data .order-admin p:not(.total) {
    font-size: 15px;
}

.info-data .order-admin .total {
    width: fit-content;
    padding: 0;
    margin: auto 0 auto auto;
    font-size: 18px;
    /* border-bottom: solid 1px; */
}

div.d-flex.product-cards {
    width: 100%;
    flex-flow: row wrap !important;
    justify-content: center;
    margin: auto;
    padding: 0;
}

div.d-flex.product-cards .card {
    flex-grow: 1;
    width: 47% !important;
}

div.order-admin .payment {
    width: 100%;
}

div.order-admin .payment p {
    width: 95%;
    margin-right: 0;
    margin-left: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}

.info-data .order-client {
    margin: auto auto auto 0;
}
  
.info-data .order-client p:not(.total) {
    font-size: 15px;
}
  
.info-data .order-client .total {
    width: fit-content;
    padding: 0;
    font-size: 18px;
    /* border-bottom: solid 1px; */
}

#contained-modal-title-vcenter {
    width: 93%;
}

#contained-modal-title-vcenter span {
    text-overflow: ellipsis;
    overflow: hidden;
}