.adm .content-box {
    margin-top: 1%;
    padding-top: 1.5%;
}

#funcoes{
    flex-direction: column;
}

#loginInfo{
    flex-direction: column;
}

#altSenha{
    left: 0;
    margin-right: auto;
}

.nav-link{
    width: 96%;
    height: 100%;
    align-items: center;
}

.dark-theme #funcoes{
    background-color: black;
    color: #ffffff;
}

.light-theme #funcoes{
    background-color: #EFEFEF;
    color: black;
}

.light-theme .nav-link{
    background-color: rgba(196, 196, 196, 0.63);
    color: black;
}

.dark-theme .nav-link{
    background-color: #2b2a2a;
    color: #ffffff;
}

.dark-theme .nav-link.active{
    background-color: #232323;
    border-color: #232323;
    color: #ffffff;
}

.dark-theme .bg-flex{
    background-color: #232323;
    color: #ffffff;
    border-color: black;
}

.light-theme .bg-flex{
    background-color: white;
    color: black;
    border-color: white;
}

.dark-theme .nav{
    border-bottom: 1px solid black;
}

.card .btn.text-btn.green {
    margin-right: 0;
    text-align: right;
    padding: 0;
    width: fit-content;
}

.btn-none{
    background-color: transparent;
    border: none;
}