.badge.st-AA{
    background-color:#DC3545;
    color: white;
}

.badge.st-PA{
    background-color:#FFC107;
    color: black;
}

.badge.st-PPR{
    background-color: #17A2B8;
    color: white;
}

.badge.st-FF{
    background-color: #28A745;
    color: white;
}

.OrdersPanel li {
    margin-bottom: 1.5%;
    width: 100%;
}