.Checkout section.content-section {
    margin-bottom: 2%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.Checkout .section-title.mini {
    font-size: larger;
}

.Checkout .center-text {
    margin: auto;
    text-align: center;
    width: fit-content;
}

.Checkout h1.green.title {
    margin-bottom: 3%;
}