.CheckoutPayment section.content-section.options {
    width: 75%;
}

.CheckoutPayment .options .option {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    vertical-align: auto;
    width: 100%;
    margin-bottom: 2%;
}

.CheckoutPayment .options .option:first-child {
    margin-top: 1.5%;
}

.CheckoutPayment .options .option:last-child {
    margin-bottom: 1.5%;
}

.CheckoutPayment .options .option label {
    width: 100%;
    margin: auto auto auto 2.5%;
    padding: 0;
    font-weight: bold;
}

.CheckoutPayment .options .option input {
    margin: auto;
    padding: 0;
    align-self: center;
}

.CheckoutPayment .options i {
    font-size: x-large;
    margin-right: 2.5%;
}

.CheckoutPayment .void-btn.big-btn, .CheckoutPayment .error-message {
    margin: auto 0 auto auto;
}

@media (max-width: 750px){
    .CheckoutPayment .content-box {
        margin-top: 15%;
    }

    .CheckoutPayment section.content-section.options {
        width: auto;
        margin: 3% auto 5% auto;
    }

    .CheckoutPayment .options .option {
        margin: 5% auto 5% auto;
        padding: 3% 0;
    }

    .CheckoutPayment .void-btn.big-btn{
        margin: 7% auto;
    }

    .CheckoutPayment .error-message {
        font-size: 12pt;
    }
}