/* FOOTER */

#footer {
    display: block;
    background-color: #202020;
    color: #f1eff1;
    text-align: center;
    padding-bottom: 1.5%;
    padding-top: 2%;
    clear: both;
    margin: auto auto 0 auto;
    width: 100%;
}

#footer-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    width: 100%;
}

#footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#footer li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#footer-info a {
    color: inherit;
    text-decoration: inherit;
}

#help {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: middle;
    width: 60%;
    padding: 0;
    margin: 0;
}

#divisor {
    color: #f1eff1;
    font-size: xx-large;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

#social-media {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: middle;
    color: #af7430;
    width: 25%;
    padding: 0;
    margin: 0;
}

#social-media li {
    font-size: small;
}

#footer hr.end {
    border-top: 0.8px solid;
    color: rgba(65, 65, 65, 0.315);
    margin: 1.5% 3% 1.7% 3%;

}

#credits {
    font-size: small;
    padding: 0;
    margin: 0;
}