main.Home{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;
    margin: auto;
    vertical-align: middle;
}

.Home .scroll-gallery ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    list-style-type: none;
    margin: auto;
    padding: 1%;
    overflow-x: scroll;
}

.Home .scroll-gallery img {
    width: 23.45vw;
}