main.Login {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}

.Login #forms-panel {
    text-align: center;
	display: flex;
	align-items: flex-start;
}

.Login .form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.Login .form-wrapper.active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

.Login .form-wrapper.active .switcher-login {
	color: #fff;
	transform: translateX(90px);
}

.Login .form-wrapper.active .switcher-signup {
	color: #fff;
	transform: translateX(-90px);
}

.Login .form-login {
	background-color: #fff;
	transform: translate(35%, -20px) scaleY(1);
}

.Login .hide-login {
	animation: hideLogin .4s ease-out forwards;
}

.Login .show-login {
	animation: showLogin .4s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px) scaleY(1.2);
	}
	50% {
		transform: translate(0, 0) scaleY(1.1);
	}
	100% {
		background-color: #fff;
		transform: translate(35%, -20px) scaleY(1);
	}
}

@keyframes hideLogin {
	0% {
		background-color: #fff;
		transform: translate(35%, -20px) scale(1);
	}
	50% {
		transform: translate(0, 0) scale(1.1);
	}
	100% {
		background: #d7e7f1;
		transform: translate(40%, 10px) scaleY(1.2);
	}
}

.Login .form-recovery{
	background-color: #fff;
	transform: translate(35%, -20px) scaleY(1);
}

.Login .hide-recovery {
	animation: hideRecovery .3s ease-out forwards;
}

.Login .show-recovery {
	animation: showRecovery .3s ease-in forwards;
}

@keyframes showRecovery {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px) scaleY(1.8);
	}
	50% {
		transform: translate(0, 0) scaleY(1.4);
	}
	100% {
		background-color: #fff;
		transform: translate(35%, -20px) scaleY(1);
	}
}

@keyframes hideRecovery {
	0% {
		background-color: #fff;
		transform: translate(35%, -20px) scale(1);
	}
	50% {
		transform: translate(0, 0) scale(1.4);
	}
	100% {
		background: #d7e7f1;
		transform: translate(40%, 10px) scaleY(1.8);
	}
}

.Login .form-signup {
	background: #d7e7f1;
	transform: translate(-40%, 10px) scaleY(.8);
}

.Login .hide-signup {
	animation: hideSignup .4s ease-out forwards;
}

.Login .show-signup {
	animation: showSignup .4s ease-in forwards;
}

@keyframes showSignup {
	0% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.Login .form-full-signup {
	background: #d7e7f1;
	transform: translate(-40%, 10px) scaleY(.8);
}

.Login .hide-full-signup {
	animation: hideFullSignup .4s ease-out forwards;
}

.Login .show-full-signup {
	animation: showFullSignup .4s ease-in forwards;
}

@keyframes showFullSignup {
	0% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.7);
	}
	50% {
		transform: translate(0, 0) scaleY(.7);
	}
	100% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideFullSignup {
	0% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.7);
	}
	100% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.7);
	}
}

.Login .form fieldset {
    border: none;
    position: relative;
	margin: 0;
	padding: 0;
	transition: all .3s ease-out;
}

.Login .form-wrapper.active fieldset {
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.Login .form {
	width: 40%;
    margin: auto;
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: white;
    border: solid 1px #cddbef;
    border-radius: 10px;
	overflow: hidden;
	min-width: 260px;
	transform-origin: top;
}

.Login .switcher {
	position: relative;
	display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 15%;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 14px;
	letter-spacing: .5px;
	color: #999;
	background-color: transparent;
	border: none;
	outline: none;
    transition: all .3s ease-out;
}

.Login .switcher:hover {
	cursor: pointer;
}

.Login .form-wrapper.active .switcher {
    font-weight: bolder;
    padding: 0;
    padding-bottom: 2px;
    color: white;
    border-bottom: 2px solid;
}

.Login .input-block {
    padding: 0;
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: left;
}

.Login .input-block input {
    display: block;
	width: 90%;
    margin: auto;
    margin-top: 1%;
	padding-right: 5%;
	padding-left: 5%;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
    background-color: #eef9fe;
    border: 1px solid #cddbef;
    border-radius: 11px;
}

.Login .input-block label {
    font-size: 14px;
    color: #92a5a5;
}

.Login .text-btn {
	margin-top: 4%;
}

.Login .big-btn {
	margin-top: 6%;
	margin-bottom: 1%;
}

.Login .form-wrapper.active .invisible {
	opacity: 1;
	visibility: visible;
}

.Login .form-wrapper.active form.invisible-content * {
	opacity: 1;
	visibility: visible;
}