/* ACCOUNT PAGES */

.MyAccount .container{
  margin-top: 80pt;
}

.MyAccount section{
  margin-bottom: 20pt;
}

.MyAccount .no-space{
  margin: 0;
  padding: 0;
}

.MyAccount .no-space p{
  margin: 0;
  padding: 0;
}

.MyAccount #loginInfo{
  flex-direction: column;
}

.MyAccount #loginInfoMobile{
  flex-direction: column;
}

.MyAccount #altSenha{
  right: 0;
  margin-left: auto;
}

.MyAccount #produtosCadastrados{
  flex-direction: column;
}

.MyAccount #dadosPessoais{
  flex-direction: column;
}

.MyAccount #editarDados{
    right: 0;
    margin-left: auto;
}

.MyAccount .hide{
  display: none;
}


.MyAccount #enviarDados{
    right: 100;
    margin-left: auto;
}

