/* NAVBAR */

nav#navbar {
    opacity: 1;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
    padding: 1%;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 5;
}

#navbar * {
    color: #f1eff1;
}

.light-theme #navbar {
    background-color: rgb(18, 18, 18);
}

.dark-theme #navbar {
    background-color: rgb(34, 34, 34);
}

#navbar a {
    color: inherit;
    text-decoration: inherit;
}
  
#navbar button {
    background-color: transparent;
    border: none;
    color: inherit;
}
  
#logo {
    width: 12%;
}
  
#logo img {
    width: 100%;
    padding: 0;
}

  
#central-buttons {
    width: 20%;
    text-align: center;
}

  
#navbar ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: auto 0;
}
  
#navbar .drop {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    padding: 0;
    margin: 0;
}
  
#navbar .drop ul {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: nowrap;
    margin-top: .5%;
    padding: 0.7% 0.7% 0.3% 0.7%;
    background-color: #202020;
    border-top: 2px solid lightgrey;
    position: absolute;
    opacity: 0.95;
    max-width: 100px;
}
  
#navbar .drop li {
    margin: auto auto 20% auto;
}
  
#navbar .drop .divisor {
    padding: 2%;
    position: absolute;
}
  
#right-buttons {
    justify-content: center !important;
    align-items: center;
    width: min-content;
    margin: 0;
    padding: 0;
}

#right-buttons .main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    min-width: 260px;
    margin: 0;
    padding: 0;
}

#my-account span {
    cursor: pointer;
}

.checkbtn {
    font-size: 20px;
    float: left;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    display: none;
    padding-top: 10px;
}

#check {
    display: none;
}

@media (max-width: 952px){
    #logo{
        width: 25%;
        line-height: 40px;
    }

    #logo img {
        width: 100%;
        padding-left: 10px;
        
    }
}

@media (max-width: 858px){
    .checkbtn {
        display: block;
    }

    #central-buttons {
        position: fixed;
        top: 45px;
        width: 100%;
        left: -800px;
        text-align: center;
        transition: all .5s;
        line-height: 30px;
    }

    .light-theme #central-buttons {
        background-color: rgb(18, 18, 18)
    }

    .dark-theme #central-buttons {
        background-color: rgb(34, 34, 34)
    }

    #check:checked ~ #central-buttons{
        left: 0;
    }

}

.modal#search-modal div.search-bar {
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    vertical-align: middle;
}

.modal#search-modal div.search-bar button {
    margin-left: 6%;
    margin-bottom: 1%;
}

.dark-theme .modal#search-modal div.search-bar {
    background-color: rgba(71, 75, 77, 0.95)
}