.ShoppingCart .content-box {
    padding: 1.5% 3% 2% 3%;
}

.ShoppingCart .products-panel {
    width: 70%;
    padding: 0 1% 1% 1%;
    float: left;
}

.ShoppingCart .header-row {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: auto;
    padding: 0 2%;
}

.ShoppingCart .header-row li {
    font-size: 14px;
    font-weight: 500;
    width: fit-content;
    text-align: center;
    margin: 0;
    padding: 0;
}

.light-theme .ShoppingCart .header-row {
    border-bottom: 2px solid rgba(137, 141, 141, 0.3);
}

.dark-theme .ShoppingCart .header-row {
    border-bottom: 2px solid rgba(137, 141, 141, 0.3);
}

/* .light-theme .ShoppingCart .header-row li {
    color:rgb(84, 85, 87);
}

.dark-theme .ShoppingCart .header-row li {
    color:rgb(84, 85, 87);
} */

.ShoppingCart .header-row .invisible {
    width: 12%;
}

.ShoppingCart .header-row .name {
    width: 22.5%;
}

.ShoppingCart .header-row .quantity {
    width: 20%;
}

.ShoppingCart .header-row .price {
    width: 10%;
    text-align: right;
}

.ShoppingCart .product-list {
    padding: 0;
}

.ShoppingCart .product-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin: 0;
    border-bottom: 2px solid rgba(137, 141, 141, 0.247);
}

.light-theme .ShoppingCart .product-card {
    border-bottom: 2px solid rgba(137, 141, 141, 0.247);
}

.dark-theme .ShoppingCart .product-card {
    border-bottom: 2px solid rgba(137, 141, 141, 0.247);
}

.ShoppingCart .link {
    padding: 0;
    margin: 0;
    width: 10%;
}

.ShoppingCart .product-card img {
    display: block;
    margin: 0;
    width: 100%;
}

.light-theme .ShoppingCart .product-card img {
    border: 1px solid rgba(32, 32, 32, 0.15);
}

.dark-theme .ShoppingCart .product-card img {
    border: 1px solid rgba(241, 239, 241, 0.15);
}

.ShoppingCart .product-card a {
    text-decoration: inherit;
    color: inherit;
    display: inherit;
    padding: inherit;
    margin: inherit;
}

.ShoppingCart .product-card .product-title {
    width: 22.5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ShoppingCart .product-card .name, 
.ShoppingCart .product-card .product-title .info {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ShoppingCart .product-card .product-title .info {
    /* color: grey; */
    font-size: 13px;
}

.ShoppingCart .product-card .price {
    width: 10%;
    text-align: right;
}

.ShoppingCart .quantity {
    width: 20%;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.ShoppingCart .quantity .controls {
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 0;
}

.ShoppingCart .quantity button {
    border: none;
    background: none;
    padding: 0;
}

.ShoppingCart .quantity button.remove {
    margin-top: 3%;
}

.ShoppingCart .quantity input {
    width: 12%;
    padding: 0;
    margin: auto 3% auto 3%;
    text-align: center;
    border: none;
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.ShoppingCart .quantity .text-btn {
    font-size: 13px;
    width: fit-content;
}

.ShoppingCart .break-flex {
    flex-basis: 100%;
    height: 0;
}

.ShoppingCart .order-summary {
    width: 27%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: auto 0 auto auto;
    padding: 0;
    text-align: left;
}

.ShoppingCart .order-summary .info {
    padding: 1% 2% 5% 2%;
    border-radius: 1.5%;
    width: 100%;
}

.light-theme .ShoppingCart .order-summary .info {
    border-top: solid 3px rgb(86, 90, 90);
}

.dark-theme .ShoppingCart .order-summary .info {
    border-top: solid 3px rgba(255, 255, 255, 0.7);
}

.light-theme .ShoppingCart .order-summary .info {
    background-color: rgba(164, 230, 245, 0.219);
}

.dark-theme .ShoppingCart .order-summary .info {
    background-color: rgba(187, 148, 194, 0.43);
}

.ShoppingCart .order-summary h3 {
    margin: auto auto 3% 0;
}

.light-theme .ShoppingCart .order-summary h3 {
    color: rgb(86, 90, 90);
}

.dark-theme .ShoppingCart .order-summary h3 {
    color: rgb(191, 207, 207);
}

.ShoppingCart .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.light-theme .ShoppingCart .row:not(.total) p {
    color: rgb(110, 110, 110);
}

.dark-theme .ShoppingCart .row:not(.total) p {
    color: rgb(187, 187, 187);
}

.light-theme .ShoppingCart .row:not(.total) p strong {
    color: rgb(33, 34, 36);
}

.dark-theme .ShoppingCart .row:not(.total) p strong {
    color: rgba(255, 255, 255, 0.9);
}

.ShoppingCart .total {
    font-size: 17px;
    font-weight: bold;
    margin-top: 1%;
    padding-top: 0.5%;
}

.light-theme .ShoppingCart .total {
    border-top: solid 1px rgba(137, 141, 141, 0.3);
}

.dark-theme .ShoppingCart .total {
    border-top: solid 1px rgba(175, 179, 179, 0.75);
}

.ShoppingCart .big-btn {
    margin-top: 5%;
}

.ShoppingCart .coupon {
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    margin: 4% 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
}

.ShoppingCart .coupon button.small-btn {
    margin: auto auto auto 3%;
}

.ShoppingCart #coupon {
    display: block;
    margin: auto 3% auto auto;
	width: 35%;
}

.ShoppingCart .clear {
    display: block;
    content: '';
    clear: both;
}