.theme {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: middle;
    margin-left: 5%;
}

.theme i {
    padding: 0;
    margin: 0;
    color: #f1eff1;
    font-size: normal;
}

.theme input#theme-checkbox {
    min-width: 35px;
    height: 10px;
    background: #555;
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
    outline: none;
    margin: 0;
    padding: 0;
}

.theme input#theme-checkbox:hover + label {
    box-shadow: 0 0 3pt 0.5pt rgba(255, 255, 255, 0.589);
    transition: 0.1s;
}

.theme .toggle {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 9%;
    margin-left: 9%;
}

.theme .toggle input#theme-checkbox + label {
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    transition: all 0.2s ease;
    cursor: pointer;
    position: absolute;
    opacity: 0.9;
    background-color: #80ac39;
    margin-top: auto;
    margin-bottom: auto;
}

.theme .toggle input#theme-checkbox:checked + label {
    margin-left: 20px;
}

.fa-sun {
    font-size: large;
}

@media (max-width: 858px){
    .theme .toggle input#theme-checkbox + label {
        min-width: 14px;
        min-height: 14px;
    }

    .theme input#theme-checkbox{
        min-width: 30px;
    }

    .fa-sun {
        font-size: 16px !important;
    }
}