*, html, body {
  font-family: 'Ubuntu', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

html, body {
  background-color: #f1eff1;
  overflow-x: hidden;
  overflow-y: auto;
}

html, body, #root, div#root, div#app, div:root, :root, :root>#root {
  display: flex !important;
  flex-flow: column nowrap !important;
  height: 100% !important;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

button:hover {
  cursor: pointer;
}

/* TABS */

.tabs-history {
  margin-bottom: 0.5%;
  margin-left: 0.3%;
  font-size: 15px;
  padding: 0;
  color: black;
}

.tabs-history a {
  text-decoration: none;
  color: inherit;
}

.past-tab {
  font-weight: bolder;
  cursor: pointer;
}

.past-tab::after {
  content: " > ";
  cursor: initial;
  font-weight: initial;
}

.current-tab:hover {
  cursor: initial;
}


/* MAIN */

main {
  box-sizing: border-box;
  /* margin: auto; */
  margin: 2% auto 3% auto;
  width: 85%;
  /* min-height: 520px; */
}

.content-box {
  margin: auto;
  width: auto;
  height: auto;
  padding: 3% 4% 3% 4%;
  background-color: white;
  border: solid 1px #cddbef;
  border-radius: 0.7rem;
}


/* POPUPS */

.modal {
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  display: none;
  overflow-y: auto;
}

.modal .content-box {
  width: 55%;
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  padding: 0.5% 1% 1% 1%;
  margin-top: 2%;
  margin-bottom: 3.5%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


/* BUTTONS */

.text-btn {
  width: 52%;
  margin: auto;
  font-size: 14px;
  border-radius: 25px;
  color: inherit;
  border: none;
  background: none;
}

.small-btn {
  display: block;
  min-width: 60px;
  margin: auto;
  font-size: 18px;
  line-height: 23px;
  border-radius: 25px;
  border: none;
}

.big-btn {
  display: block;
  min-width: 120px;
  margin: auto;
  font-size: 18px;
  line-height: 40px;
  border-radius: 25px;
  border: none;
}

.text-btn:hover {
  cursor: pointer;
  transition-duration: 0.2s;
  opacity: 0.7;
  text-decoration: underline;
}

.big-btn:hover, .small-btn:hover {
  cursor: pointer;
  transition-duration: 0.2s;
  opacity: 0.7;
}

.full-btn {
  color: white;
  background-color: #a7e245;
}

.full-btn:hover {
  background-color: #b5e46b;
}


.void-btn {
  color: #a7e245;
  border: 2px solid #a7e245;
  background-color: transparent;
}

.void-btn:hover {
  background-color: #a7e245;
  color: white;
}

.void-btn:active {
  transition-duration: 0;
  background-color: #45c3e2;
  border: 2px solid #45c3e2;
}


/* AUXILIAR */

.disable-selection {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  cursor: initial;
}

.no-display {
  display: none;
}

.invisible {
  opacity: 0;
visibility: hidden;
}

.invisible-content * {
  opacity: 0;
  visibility: hidden;
}

.green {
  color: #a7e245 !important; 
}

.grey {
  color: rgb(107, 115, 116) !important;
}

.underlined {
  text-decoration: underline;
}

.not-decorated {
  text-decoration: none !important;
}

.clicker:hover {
  transition-duration: 0.15s;
  cursor: pointer;
  opacity: 0.95;
}

.title {
  font-size: x-large;
  font-weight: 550;
  margin: 0;
  padding: 1% 0 1% 0;
}

.error-message {
	color: red;
	font-size: smaller;
	margin: auto;
	font-weight: light;
	text-align: left;
}